body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #696969;
  text-transform: uppercase;
  background-color: #ffffff;
  background-image: url("img/fon-index.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #333333;
  background-color: #fefefe;
  background-image: url("img/fon-hotels.png");
  background-repeat: no-repeat;  
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  }

.site-navigation-left,
.site-navigation-right {
  list-style: none;
}

.site-navigation-left a,
.site-navigation-right a {
  color: #000000;
}
  
.catalog-item-title {
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.site-navigation-left a:hover,
.site-navigation-right a:hover,
.catalog-item-title:hover {
  color: #81b3d2;
}

.site-navigation-left a:focus,
.site-navigation-right a:focus {
  color: #766357;
}

.site-navigation-left a:active, 
.site-navigation-right a:active,
.catalog-item-title:active {
  color: #cacaca;
}

.site-navigation-left {
  text-align: left;
}

.site-navigation-right {
  text-align: right;
}

.catalog-list {
  list-style: none;
}

.welcome {
  background-color: #582424;
  background-image: url("img/maska.jpg"), url("img/sedona.jpg");
  background-repeat: no-repeat;
}

.item {
  background-image: url("img/features.png");
  background-repeat: no-repeat;
}

.welcome-sedona-item {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.reasons {
  text-align: center;
}

.search {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search-info {
  font-size: 14px;
  line-height: 24px;
}

.search-hotels {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #766357;
  background-image: url("img/search-header.png");
  background-repeat: no-repeat;
}

.appointment-form {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  background-image: url("img/search.png");
  background-repeat: no-repeat;
}

.button {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.search-hotels:hover,
.button-book:hover {
  background-color: #604e43;
}

.search-hotels:active,
.button-book:active {
  color: #928a85;
  background-color: #503e33;
}

.date {
  background-image: url("img/calendar.svg");
  color: #000000; 
  background-color: #f2f2f2;
  border: none;
  background-repeat: repeat;
}

.date:hover {
  background-color: #ebebeb;
}

.date:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.button-quantity-plus,
.button-quantity-minus {
  color: #a9a9a9;
  background-color: #f2f2f2;
}

.button-quantity-plus:hover,
.button-quantity-minus:hover {
  color: #000000;
}

.button-quantity-plus:active,
.button-quantity-minus:active {
  color: #81b3d2;
}

.button-find {
  font-size: 21px;
  line-height: 26px;
}

.button-more {
  color: #ffffff;
  background-color: #81b3d2;
}

.button-find:hover,
.button-more:hover,
.social-button:hover {
  background-color: #669ec0;
}

.button-find:active,
.button-more:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.button-book {
  color: #ffffff;
  background-color: #766357;
}

.catalog-item-info {
  text-align: left;
}

.rating {
  text-align: right;
  color: #666666;
  background-color: #f2f2f2;
}

.star {
  text-align: right;
  color: #81b3d2;
  background-image: url("img/star.svg");
  background-repeat: repeat;
}

.main-footer {
  color: #000000;
  background-color: #fdfdfd;
  background-image: url("img/footer.png");
  background-repeat: no-repeat;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright a {
  color: #231f20;
}

.footer-copyright a:hover {
  color: #81b3d2;
}

.footer-copyright a:active {
  color: #bdbbbc;
}